<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="vendors/oimo.js"></script>
    <script src="vendors/babylon.js"></script>
    <style>
    html, body {
        overflow: hidden;
        width   : 100%;
        height  : 100%;
        margin  : 0;
        padding : 0;
    }

    #renderCanvas {
        width   : 100%;
        height  : 100%;
        touch-action: none;
    }
</style>
</head>
<body>
    <canvas id="renderCanvas"></canvas>
    <script>
   let game = new Game("12", 'renderCanvas');
    window.addEventListener('DOMContentLoaded', () => {
        game.start();
    });
    document.body.addEventListener("mousedown", function(e) {
        console.log("CLICK");
        game.input.onMouseInput(e);
    }),
        document.body.addEventListener("mousemove", function(e) {
            if (e.which === 1) {
                game.input.onMouseInput(e);
            }
        });
    window.addEventListener("keydown", function (e) {
        game.input.onKeyboardInput(e);
    });
    window.addEventListener("wheel", function(e) {
        game.input
    });
    </script>
</body>
</html>